.calendar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100px;
  border-radius: 4px;

  .item {
    padding: 5px;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
    margin: 5px 0;
    background-color: #99b67e33;
    border: none;
  }

  .day {
    padding: 30px 10px;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0.6;
    border-radius: 4px;
    text-align: center;
    min-height: 200px;
    box-shadow: 2px 2px 10px 0px rgba(102, 102, 102, 0.5);
    background-color: rgba(102, 102, 102, 0.1);

    &.active {
      opacity: 1;
      cursor: pointer;
      background-color: white;

      &:hover {
        background-color: #99b67e33;
      }
    }
  }
}

@media (max-width: 900px) {
  .calendar {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: flex-start;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;

    // Hide scrollbar in Safari / Chrome
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      width: 0 !important;
      height: 0 !important;
      display: none;
    }
    // Hide scrollbar in Firefox
    scrollbar-width: none;
    // Hide scrollbar in IE
    -ms-overflow-style: none;

    .day {
      margin: 5px;
      scroll-snap-align: center;
      min-width: 200px;
    }
  }
}
