.selectButton {
  padding: 10px;
  color: black;
  flex-grow: 1;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  appearance: none;
  position: relative;
  cursor: pointer;
  outline: none;
  background-image: linear-gradient(45deg, transparent 50%, #99b67e 50%),
    linear-gradient(135deg, #99b67e 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.number {
  padding: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  width: 40px;
  margin-left: 10px;
}

.button {
  margin-top: 10px;
  width: 95%;
}

.selectButtonWrapper {
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
