.selectButton {
  width: 100%;
  color: white;
  background-color: #99b67e;
  padding: 10px;
  text-align: center;
  text-align-last: center;
  border-radius: 30px;
  border: none;
  appearance: none;
  outline: none;
}
