.signupForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;

  input {
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-bottom: 15px;
  }
}
