html,
body {
  height: -webkit-fill-available;
  margin: 44px 0 0;
  line-height: 1.5;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 2;
  width: calc(100vw - 40px);
  position: fixed;
  background-color: white;
  color: #655a43;
  padding: 10px 20px;
  flex-direction: row;
  border-bottom: 1px solid #e7e7e7;

  .menu-and-logo {
    display: flex;
    align-items: center;
    flex-direction: row;

    .logo,
    svg {
      margin: 0 10px;
    }
  }

  .bar-icon {
    cursor: pointer;
  }

  .icons a {
    text-decoration: none;
    color: currentColor;
  }

  .icons svg {
    cursor: pointer;
    margin: 0 10px;
  }
}

.sidebar-menu {
  background-color: #f5f5f5;
  width: 250px;
  position: fixed;
  top: 0;
  overflow-y: auto;
  left: 0;
  z-index: 3;
  user-select: none;
  height: 100vh;
  height: -webkit-fill-available;
  box-shadow: 2px 0 2px -1px rgba(0, 0, 0, 0.3);

  a {
    text-decoration: none;
    color: currentColor;
    display: block;
  }

  & > * {
    padding: 15px;
    border-bottom: 1px solid #e2e2e0;

    &.submenu {
      padding-left: 25px;
      background-color: white;
    }
  }
}

.content {
  padding: 15px;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.product-image {
  border-radius: 2vw;
}

.my-baskets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

@media (max-width: 700px) {
  .my-baskets {
    grid-template-columns: 1fr 1fr;
  }
}
