html,
body {
  height: -webkit-fill-available;
  margin: 38px 0 0;
  line-height: 1.5;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 2;
  width: calc(100vw - 40px);
  position: fixed;
  background-color: white;
  color: #655a43;
  padding: 10px 20px;
  flex-direction: row;
  border-bottom: 1px solid #e7e7e7;

  .menu-and-logo {
    display: flex;
    align-items: center;
    flex-direction: row;

    .logo,
    svg {
      margin: 0 10px;
    }
  }

  .bar-icon {
    cursor: pointer;
  }

  .icons a {
    text-decoration: none;
    color: currentColor;
  }

  .icons svg {
    cursor: pointer;
    margin: 0 10px;
  }
}

.sidebar-menu {
  background-color: #f5f5f5;
  width: 250px;
  position: fixed;
  top: 0;
  overflow-y: auto;
  left: 0;
  z-index: 3;
  user-select: none;
  height: 100vh;
  height: -webkit-fill-available;
  box-shadow: 2px 0 2px -1px rgba(0, 0, 0, 0.3);

  a {
    text-decoration: none;
    color: currentColor;
    display: block;
  }

  & > * {
    padding: 15px;
    border-bottom: 1px solid #e2e2e0;

    &.submenu {
      padding-left: 25px;
      background-color: white;
    }
  }
}

.content {
  padding: 30px;
  position: relative;
  max-width: 960px;
  min-height: 70vh;
  margin: 0 auto;
}

.product-image,
.product-image-full {
  background-color: #e2e2e2;
}

.product-image-full {
  border-radius: 2vw;
}

.center {
  text-align: center;
}

.product-image:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.product-image-link > div {
  border-radius: 2vw;
}

.product-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .product-content {
    width: 350px;
    padding: 0 50px;
  }
}

.my-baskets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
}

.button {
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: #99b67e;
  border: 1px solid #99b67e;
  text-align: center;
  text-align-last: center;
  border-radius: 30px;
  appearance: none;
  outline: none;

  &.default {
    color: black;
    background-color: white;
    border: 1px solid black;
  }

  &:not(.default):hover:not(:disabled) {
    background-color: #99b67edd;
    border: 1px solid #99b67edd;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #e2e2e2;
    border-color: #e2e2e2;
  }
}

.footer {
  color: black;
  background-color: white;
  border-top: 1px solid #e7e7e7;
  margin-top: 50px;
  width: 100vw;
  font-size: 12px;

  & > div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    a {
      margin: 0 5px;
    }
  }
}

a {
  color: currentColor;
  text-decoration: underline;

  &:hover {
    color: #335514;
  }
}

.banner {
  cursor: pointer;
  background-color: #28211b;
}

.errorMsg {
  color: #c62828;
}

@media (max-width: 900px) {
  .my-baskets {
    grid-template-columns: 1fr 1fr;
  }

  .footer > div,
  .footer .links {
    flex-direction: column;
    align-items: center;

    > div {
      margin: 10px 0;
    }

    > a {
      margin: 5px 0;
    }

    select {
      margin-top: 10px !important;
    }
  }

  .product-page {
    flex-direction: column;
  }

  .product-page .product-content {
    padding: 0 !important;
    width: auto !important;
  }
}

.price {
  color: #89a370;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.subscription-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;

  input[type='number'] {
    padding: 10px;
    width: 60px;
    height: 20px;
    background-color: white;
    border: 2px solid #89a370;
    border-radius: 30px 0 0 30px;

    &.editing {
      border-radius: 30px;
      width: 100px;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
  }

  .submit {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;

    > span {
      margin-bottom: 10px;
    }

    > button {
      width: 300px;
    }
  }

  label {
    font-size: 12px;
    padding-left: 5px;
    color: #625a50;
    font-weight: bold;
  }

  select {
    width: 240px;
    padding: 10px;
    height: 44px;
    -webkit-appearance: none;
    background-color: white;
    border: 2px solid #89a370;
    border-radius: 0 30px 30px 0;
    border-left: none;
    outline: none;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
}

:root {
  --allHeight: 100vh;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 13;
  background-color: rgba(0, 0, 0, 0.3);

  .modal-content {
    background-color: #fff;
    padding: 0;
    overflow: auto;
    margin: 5vmin;
    display: flex;
    flex-flow: column;
    max-height: var(--allHeight);
    -webkit-box-shadow: 2px 2px 10px 0px rgba(102, 102, 102, 0.5);
    -moz-box-shadow: 2px 2px 10px 0px rgba(102, 102, 102, 0.5);
    box-shadow: 2px 2px 10px 0px rgba(102, 102, 102, 0.5);
    transition: all 0.5 ease;
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 360px;

    &.medium {
      max-width: 500px;
    }
    &.large {
      max-width: 768px;
    }
    &.xlarge {
      max-width: 970px;
    }

    &.auto {
      width: auto;
      max-width: none;
    }

    .modal-header {
      margin: 0;
      padding: 0px 10px;
      display: flex;
      align-items: center;
      background-color: #000;
      color: white;
      font-size: 16px;
      svg {
        margin-right: 10px;
      }
    }

    .modal-body {
      padding: 20px;
      line-height: 20px;
      &.scrolled {
        overflow: auto;
        flex-grow: 1;
      }

      &.shadow {
        -webkit-box-shadow: inset 0 6px 4px -2px rgba(102, 102, 102, 0.2);
        -moz-box-shadow: inset 0 6px 4px -2px rgba(102, 102, 102, 0.2);
        box-shadow: inset 0 6px 4px -2px rgba(102, 102, 102, 0.2);
      }
    }

    .close-icon {
      float: right;
      width: 33px;
      height: 48px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;
      margin-top: auto;
      cursor: pointer;
      &:hover {
        color: #89a370;
      }
    }

    &.fullscreen {
      width: 100vw;
      height: var(--allHeight);
      margin: 0;
    }
  }
}

body.modal-open {
  overflow: hidden;
}

.unicode-font {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

@media (max-width: 450px) {
  .my-baskets {
    grid-template-columns: 1fr;
  }
}
